
.flexBox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 390px; 
    left: 705px;
    
}

img{
    width: 130px; 
    height: 130px; 
  }

/*button stuffs here*/
#ig_button{
  display: flex;
}

#ig_animation{
  display: flex;
}