
.flexBox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: space-between;
}



.overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;  
    bottom: 50vh; 
    left: 26vw; 
}

.overlay2 {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;  
  bottom: 50vh; 
  left: 46vw; 
}

.overlay3 {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;  
  bottom: 50vh; 
  left: 66vw; 
}


/*button stuffs here*/
#ig_button{
  display: flex;
}

#ig_animation{
  display: flex;
}

#twitter_button{
  display: flex;
}

#twitter_animation{
  display: flex;
}

#tiktok_button{
  display: flex;
}

#tiktok_animation{
  display: flex;
}