@font-face { 
    src:url(fonts/chalk/Chalk-Regular.ttf);
    font-family: chalk;

    src: url(fonts/Carrois_Gothic/CarroisGothic-Regular.ttf);
    font-family: carrois;
 
    src: url(fonts/Merriweather_Sans/MerriweatherSans.ttf); 
    font-family: merriweather;
    
    src: url(fonts/Apparel-Font-Family/Demo_Fonts/Fontspring-DEMO-apparel-boldit.otf);
    font-family: aItalic;

    src: url(fonts/apparel-bold/Apparel\ Bold.ttf); 
    font-family: apparelBold;
}

/* top container*/
.container1{
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    background-color: #C8DAE0;
    width: 100%;
    height: 70%;
    font-family: aItalic;

}

.containerHeader{
    font-family: aItalic;
    color: white; 
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.heading2{
    text-align: center;
    font-family: chalk;
    font-size: 30px;
    padding: 20px;
    color: white;
}


/* bottom container*/
.container2{
    position: relative;
    background-color: #F7F7F7;
    width: 100%;
}



.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.box{
    border-radius: 10px;
    transition: 1s;

}

.box:hover{
    transform: scale(1.2);
    background: #e0c8d2;
    z-index: 2;
    box-shadow: 5px 5px 5px #C8DAE0;
  
    
}


img{
    width:100%;
    height: 220px;
}

.text{
    text-align: left;
    color:#6A6969;
    font-family: aItalic;

}

.updateBox{
    color:#6A6969;
    font-size: 30px;
    font-family: chalk;
    text-align: center;
}

h1{

    font-size:80px;
    color:#6A6969;
    font-family: apparelBold;

}

h2{
    font-size:30px;
    color:#6A6969;
    font-family: apparelBold;
}


p{
    font-size:20px;
    font-family: merriweather;

}


h4{
    color:#6A6969;
    font-size: 30px;
    font-family: chalk;
    position: absolute; 
    top: 820; 
    right: 313px; 

    
}


