body {
    background: url(Wireframe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(182, 176, 200);
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 1, 158);
}