@font-face { 
    src:url(Shardee.ttf);
    font-family: sailorMoon;
}

body {
    background: url(https://wallpapers.com/images/hd/pink-anime-aesthetic-sailor-city-2ajbln0421ankzxe-2ajbln0421ankzxe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    overflow: hidden
}

h1{
    display: flex;
    font-family: sailorMoon;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.subheading{
    font-size: 15px;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1.5px #8f61bd;
    color: white;
}

