@font-face {
    src:url(font/Chalk-Regular.ttf);
    font-family: chalk;
}

.main {
    font-size: 150%;
    padding: 1%;
    text-align: center;
    font-family: chalk;
    color: lightskyblue; 

}

#Playlist{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 120%;
    padding: 7%;
    font-family: chalk;
    color: black; 
    margin-right: 50px;
    padding: 5%;

}
