@font-face {
    font-family: chalk;
    src: url(Chalk-Regular.ttf);
}

.flexBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15%;
  
}
  
  .myButton{
    padding: 100px 200px;
    margin-top: 5%;
    border-radius: 10px;
    font-size: 50px;
    font-family: chalk;
    background-color: #e6e6e6;
  }
  
  @media screen and (max-width: 600px) {
    .myButton {
      padding: 50px 70px;
      font-size: 100%;
    }
  }
  